{% extends 'front.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            
        </div>
        
        <!-- Create new link -->
        
    </div>
{% endblock %}
